# don't send big/unneeded files to the Docker build context
.vscode/
.idea/
__pycache__/
*.pyc
*.pyo
*.pyd
.git/
.gitignore
.env
.env.*
*.sqlite3
db.sqlite3
staticfiles/
media/
venv/
.venv/
node_modules/
