{% extends 'dashboard/base.html' %}
{% load static %}

{% block headers %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
{% endblock %}
{% block main %}
      <main class="main">
        <header class="topbar">
          <h1 class="h5 mb-0">Inventory Management System</h1>
        </header>

        {% include 'cart/partials/add_category_modal.html' %}
        <section class="content container-fluid px-3 px-lg-4 py-3">
          {% if item %}
          <a
            class="text-decoration-none d-inline-flex align-items-center mb-3"
            href="{% url 'dashboard_inventory' %}"
          >
            <i class="bi bi-arrow-left me-2"></i> Back to Inventory
          </a>
          {% endif %}

          <div class="card">
            <div class="card-body">
              <h2 class="fs-3 mb-1">{% if item %}Edit Item{% else %}Add New Item{% endif %}</h2>
              <p class="text-secondary">
                Enter the details of the inventory item
              </p>

              <form class="row g-3 add-item-form" method="POST" action="">
                {% csrf_token %}
                {% if error %}
                  <div class="col-12">
                    <div class="alert alert-danger">{{ error }}</div>
                  </div>
                {% endif %}
                <div class="col-md-6">
                  <label class="form-label">Item Name *</label>
                  <input
                    name="name"
                    class="form-control"
                    placeholder="Wireless Mouse"
                    value="{% if item %}{{ item.name }}{% endif %}"
                    required
                  />
                </div>
                <div class="col-md-6">
                  <label class="form-label">SKU *</label>
                  <input
                    name="sku"
                    class="form-control"
                    placeholder="ELEC-WM-001"
                    value="{% if item %}{{ item.sku }}{% endif %}"
                    required
                  />
                </div>

                <div class="col-md-6">
                  <label class="form-label">Category *</label>
                  <select
                  class="form-select"
                  name="category"
                  required>
                    {% for category in categories %}
                      <option value="{{ category.id }}" {% if item.category.name == category.name %}selected="selected"{% endif %}>{{ category.name }}</option>
                    {% endfor %}
                  </select>
                  {% if not item %}
                  <a
                  href="#"
                  data-bs-toggle="modal"
                  data-bs-target="#addCategoryModal"
                  class="ml-5 text-decoration-none">Add New Category</a>
                  {% endif %}
                </div>
                <div class="col-md-6">
                  <label class="form-label">Location *</label>
                  <input
                    name="location"
                    class="form-control"
                    placeholder="Warehouse A - Shelf 12"
                    value="{% if item %}{{ item.location }}{% endif %}"
                    required
                  />
                </div>
                <div class="col-md-6">
                  <label class="form-label">Total Quantity *</label>
                  <input
                    name="total_amount"
                    type="number"
                    class="form-control"
                    placeholder="20"
                    value="{% if item %}{{ item.total_amount }}{% endif %}"
                    required
                  />
                </div>

                <div class="col-md-6">
                  <label class="form-label">Price ($) *</label>
                  <input
                    name="cost"
                    type="number"
                    step="0.01"
                    class="form-control"
                    placeholder="24.99"
                    value="{% if item %}{{ item.cost }}{% endif %}"
                    required
                  />
                </div>
                <div class="col-md-12">
                  <label class="form-label">Description</label>
                  <textarea
                    name="description"
                    class="form-control"
                    rows="3"
                    placeholder="Enter item description..."
                  ></textarea>
                </div>

                <div class="col-12 d-flex gap-2">
                  <button class="btn btn-primary">Add Item</button>
                  {% comment %} <button class="btn btn-primary" onclick="patch_item">Add Item</button> {% endcomment %}
                  {% if item %}
                  <a class="btn btn-outline-secondary" href="{% url 'dashboard_inventory' %}"
                    >Cancel</a
                  >
                  {% endif %}
                </div>
              </form>
            </div>
          </div>
        </section>
      </main>
    </div>

    <script>
      document.querySelector(".add-item-form").addEventListener("submit", function(event) {
        event.preventDefault();

        let updateUrl;
        let method;
        const csrfToken = document.querySelector("[name=csrfmiddlewaretoken]").value;

        {% if item %}
          updateUrl = "{% url 'item-list' %}" + "{{ item.id }}" + "/";
          method = "PATCH";
        {% else %}
          updateUrl = "{% url 'item-list' %}";
          method = "POST";
        {% endif %}

        let item = {
          name: document.querySelector("input[name='name']").value,
          sku: document.querySelector("input[name='sku']").value,
          location: document.querySelector("input[name='location']").value,
          category_id: document.querySelector("select[name='category']").value,
          in_stock: document.querySelector("input[name='total_amount']").value,
          total_amount: document.querySelector("input[name='total_amount']").value,
          cost: document.querySelector("input[name='cost']").value,
          description: document.querySelector("textarea[name='description']").value,
        };
        
        fetch(updateUrl, {
          method: method,
          headers: {
            "Content-type": "application/json; charset=UTF-8",
            "Accept": "application/json",
            "X-CSRFToken": csrfToken
          },
          body: JSON.stringify(item)
        }).then((response) => {
            alert("Success!");
            window.location.href = "{% url "dashboard_inventory" %}"
        }).then((data) => {
          console.log("Error: ", data)
        });
    });

    </script>
{% endblock %}
