apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-deployment
  namespace: inventro
  labels:
    app: inventro-web
spec:
  replicas: 1
  selector:
    matchLabels:
      app: inventro-web
  template:
    metadata:
      labels:
        app: inventro-web
    spec:
      containers:
      - name: nginx-deployment
        image: nginx:latest
        volumeMounts:
          - name: nginx-config-volume
            mountPath: /etc/nginx/conf.d/default.conf
            subPath: default.conf
        resources:
          requests:
            cpu: "100m"
            memory: "256Mi"
          limits:
            cpu: "250m"
            memory: "512Mi"
      volumes:
        - name: nginx-config-volume
          configMap:
            name: nginx-config